{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Conditions Générales de Vente - ModeTry</h1>

    <p><strong>Date d'effet :</strong> 22 janvier 2024</p>

    <p>Bienvenue sur ModeTry ! Veuillez lire attentivement ces Conditions Générales de Vente (les "CGV") avant de passer une commande sur notre site Web modetryon.fr. En effectuant un achat, vous acceptez d'être lié par ces CGV.
1. Produits et Commandes
1.1 Les produits présentés sur le Site sont sujets à disponibilité. ModeTry se réserve le droit de modifier ou d'interrompre tout produit à tout moment.
1.2 En passant une commande, vous déclarez être autorisé à utiliser la méthode de paiement fournie et garantissez que les informations fournies sont exactes et complètes.
2. Prix et Paiement
2.1 Les prix des produits sont indiqués en [Devise]. Les frais de livraison sont calculés au moment de la commande.
2.2 Le paiement est effectué au moment de la commande. Les méthodes de paiement acceptées sont spécifiées sur le Site.
3. Livraison
3.1 Les délais de livraison sont estimés et peuvent varier en fonction de la destination. ModeTry ne peut être tenu responsable des retards de livraison indépendants de sa volonté.
4. Politique de Retour et de Remboursement
4.1 Les conditions de retour et de remboursement sont détaillées dans notre Politique de Retour disponible sur le Site.
5. Propriété Intellectuelle
5.1 La propriété intellectuelle des produits demeure la propriété exclusive de ModeTry jusqu'au paiement complet.
6. Responsabilité
6.1 ModeTry ne peut être tenu responsable des dommages directs, indirects, accessoires, spéciaux, ou consécutifs résultant de l'utilisation de ses produits.
7. Modification des CGV
7.1 ModeTry se réserve le droit de modifier ces CGV à tout moment. Les modifications prendront effet dès leur publication sur le Site.
8. Droit de Réserve
8.1 ModeTry se réserve le droit de refuser une commande pour quelque raison que ce soit, y compris en cas de violation de ces CGV.
9. Droit Applicable
9.1 Ces CGV sont régies par les lois en vigueur dans Juridiction de Versailles. Tout litige découlant de ces CGV sera soumis à la juridiction exclusive des tribunaux compétents de Versailles.
En passant une commande sur notre Site, vous acceptez ces CGV. Si vous n'acceptez pas ces termes, veuillez ne pas effectuer d'achat sur notre Site.
Pour toute question concernant ces CGV, veuillez nous contacter à [adresse e-mail de contact].
Fin des Conditions Générales de Vente
</p>

    <p><em>Fin des Conditions Générales de Vente</em></p>
</div>
{% endblock %}
