{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous?{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Qui sommes-nous?</h1>
    {{ controller_name }}

<p>
L'Essayage Virtuel Redéfini: <br>
Découvrez notre vision avant-gardiste de l'essayage virtuel. Grâce à notre technologie de réalité virtuelle de pointe, vous pouvez explorer, ajuster et personnaliser chaque vêtement sans même quitter votre domicile. L'essayage virtuel chez ModeTry va au-delà de l'écran, vous permettant de ressentir la texture, la coupe et le style de chaque pièce.
</p>
<p>
Engagement envers la Qualité: <br>
Chez ModeTry, la qualité est notre boussole. Nos partenariats avec des marques de renom et des designers de talent garantissent que chaque vêtement que vous essayez virtuellement sur notre plateforme est un gage d'élégance, de durabilité et de style.

Votre Style, Votre Histoire: <br>
ModeTry célèbre l'expression individuelle à travers la mode. Avec notre plateforme, chaque clic est une déclaration personnelle de style. Explorez un monde de possibilités infinies et façonnez votre propre histoire de la mode grâce à notre technologie d'essayage virtuel.
<p>
Innovation et Technologie: <br>
ModeTry est à la pointe de l'innovation. Nous intégrons constamment les dernières avancées technologiques pour garantir une expérience d'essayage virtuel aussi réaliste que possible. Plongez dans l'avenir de la mode avec nous.
</p>
<p>
"Vos vêtements, Votre silhouette, Votre style" <br>
Chez ModeTry, votre style est notre priorité. Nous croyons que chaque vêtement que vous choisissez devrait refléter votre personnalité unique. Grâce à notre technologie d'essayage virtuel révolutionnaire, explorez, ajustez et personnalisez chaque tenue sans quitter le confort de votre domicile.
<p>
Moins de retours, Meilleur pour l'Écosystème: <br>
Grâce à l'essayage virtuel, ModeTry contribue à réduire significativement les retours. Moins de retours signifie moins d'emballages inutiles, moins d'émissions liées aux transports, et un impact environnemental réduit. Nous nous engageons à créer une expérience d'achat plus durable pour notre planète.
</p>
<p>
Rejoignez-nous chez ModeTry, où la mode et la technologie s'entrelacent pour créer une expérience d'achat immersive et respectueuse de l'environnement. Explorez des styles uniques, personnalisez votre garde-robe et plongez dans l'avenir de l'essayage virtuel. Bienvenue chez ModeTry.
</p>
</div>
{% endblock %}
