{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<h1>Politique de Confidentialité - ModeTry</h1>

    <p>La présente Politique de Confidentialité explique comment ModeTry collecte, utilise, divulgue et protège vos informations personnelles lorsque vous utilisez notre site Web modetryon.fr. En accédant ou en utilisant le Site, vous consentez à la collecte et à l'utilisation de vos informations personnelles conformément à cette Politique de Confidentialité.</p>

    <h2>1. Collecte d'Informations</h2>
    <p>Nous pouvons collecter différentes catégories d'informations personnelles, y compris, mais sans s'y limiter, votre nom, adresse e-mail, adresse de livraison, informations de paiement, et données de profil.</p>

    <h2>2. Utilisation des Informations</h2>
    <p>Les informations collectées peuvent être utilisées pour traiter vos commandes, personnaliser votre expérience d'achat, améliorer notre site, vous envoyer des communications marketing, et répondre à vos demandes d'assistance.</p>

    <h2>3. Partage d'Informations</h2>
    <p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles à des tiers sans votre consentement, sauf tel que décrit dans cette Politique de Confidentialité.</p>


    <p><em>Fin de la Politique de Confidentialité</em></p>
</div>
{% endblock %}