footer {
    background-color: #bec5cd;
    color: black;
    padding: 20px 0;
    width: 100%;
    
}

.social a {
    color: black;
    margin-right: 15px;
    text-decoration: none;
}

.social i {
    font-size: 30px;
}

ul.footer-links {
    list-style: none;
    padding: 0;
}

ul.footer-links li {
    display: inline;
    margin-right: 15px;
}

ul.footer-links li a {
    color: black;
    text-decoration: none;
}

.copyright {
    margin-top: 20px;
}