@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');


body {
    font-family:'Montserrat', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif !important;
}
.btn-hover:hover {
    background-color: #9105DD;
}
.text-hover {
    color: black;
}
.text-hover:hover {
    color: #9105DD;
}
.cintre {
    width: 10% !important;
}
.photo-cover {
    
    width: 100%;
    background-image: url(/public/assets/img/photos/femme-fourure-comp.png);
    background-color: #58585af4;
    height: 500px;
    background-position: right -5% center;
    background-repeat: no-repeat;
    margin-bottom: 50px;

}
.home-description {
    color: white;
    padding: 60px;
}

@media (max-width: 768px) {
    .photo-cover {
    
        width: 100%;
        background-image: url(/public/assets/img/photos/femme-fourure-comp.png);
        background-color: #58585af4;
        height: 500px;
        background-position: right 50% center;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
     .home-description {
            color: rgb(238, 238, 205);
            padding: 40px;
            font-size: 18px;
    
        }
    
}
.home-photo {
    width: 100%;
}
.text-dark {
    font-size: 18px;
}

